outputs/
logs/
submission_round1/
submission_check_tmp/
submission_check_*_tmp/
kaggle_clean/
github_clean/
VAI_NVS_DATA/
work_undistorted/
*.zip
!KAGGLE_READY/03_ROUND2_PATCH_V3_DISKSAFE.zip
*.ply
*.bin
*.pt
*.pth
__pycache__/
.DS_Store
__MACOSX/
*.pyc
.ipynb_checkpoints/
